<!DOCTYPE html>
<html>
    <head>
        <title>SERVUM</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
    </head>
    <body>
        {% block content %}
        <div>
            <h1>URL del video a descargar</h1>
            <form method="post" name="ytdlp">
            <input type="text" size="30" required length name="url"/>
            <input type="submit" value="send" size="50">
            </form>
        </div>
        {% endblock %}
    </body>
</html>